:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    font-size: 15px;
}

/*.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }*/

.poppins-extralight {
    font-weight: 200;
}
  
.poppins-regular {
    font-weight: 400;
}
  
.poppins-semibold {
    font-weight: 600;
}

.container{
    display: grid;
    justify-items: center;
    margin-top: 30px;
}

p{
    width: 500px;
    color: var(--Grayish-Blue);
}

.center-text{
    text-align: center;
}

.cards{
    width: 100%;
    margin-top: 60px;
    font-size: 12px;
    display: contents;
}

.central-cards{
    position: absolute;
    top: 210px;
}

.lateral-cards{
    width: 950px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.central-cards div,
.lateral-cards div{
    width: 300px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px;
}

.cyan-card{
    border-top: 3px solid var(--Cyan);
}

.cards div > h2{
    margin-top: 20px;
    margin-left: 25px;
}

.cards div > p{
    width: 239px;
    margin-top: 10px;
    margin-left: 25px;
    border: none;
}

.cards div > img{
    width: 45px;
    position: relative;
    bottom: -15px;
    left: 225px;
}

.red-card{
    border-top: 3px solid var(--Red);
}

.orange-card{
    border-top: 3px solid var(--Orange);
    margin-top: 20px;
}

.blue-card{
    border-top: 3px solid var(--Blue);
}

@media (max-width: 640px){
    body{
        height: 155vh;
        font-size: 10px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p{
        width: 315px;
        margin-top: 10px;
    }

    .center-text{
        font-size: 12px;
    }

    .cards{
        display: grid;
        justify-items: center;
        margin-top: 40px;
    }

    .lateral-cards{
        width: 300px;
        margin-top: 0px;
        display: grid;
    }

    .central-cards{
        top: 398px;
    }

    .blue-card{
        margin-top: 430px;
    }
}